@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.border {
    border : 1px solid rgb(223, 154, 154);
    margin: 3px;
    
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.items-center {
    align-items: center;
}

.bg-black{
    background-color: black;
    color:white
}

.bg-grey {
   background-color: #121212;
}
.rounded{
    border-radius:  5px;
}

.m-1{ 
    margin:5px;

}

.p-1{
    padding: 10px;
}