.border {
    border : 1px solid rgb(223, 154, 154);
    margin: 3px;
    
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.items-center {
    align-items: center;
}

.bg-black{
    background-color: black;
    color:white
}

.bg-grey {
    background-color: #1f1e1e;
}
.rounded{
    border-radius:  7px;
}

.m-1{
    margin:5px;
    padding: 9px;
}
.p-1{
    padding: 10px;
}